//
// Custom Code by Elluminate Designs
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

body {
    background: #fff;
    padding-top: 83px;
}

.bibleverse {
    // background: url(../img/bibleverse.jpg);
    // background-size: cover;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-position: 0 0;
    // height: 300px;
    // color: #fff;
    // padding: 80px 0;
    margin-top: -50px;
    h1 {
        color: $brand-primary;
    }
    .container {
        // background:#fff;
        height: 200px;
        overflow: hidden;
    }
    .inner {
        position: absolute;
        background: #fff;
        // height: 00px;
        width: 100%;
        padding: 20px;
    }
}

.verse {
    background: #fff;
    padding: 20px;
}

.logo {
    overflow: hidden;
    img {
        // width: 120px;
        height: 150px;
    }
}

.welcome {
    background: url(../img/Shadow-copy-12.png) no-repeat top center;
    text-align: center;
    padding: 80px 0;
    font-size: 16px;
    h1 {
        color: #555;
        text-transform: uppercase;
        margin: 0;
    }
}

.home-featured {
    background: url(../img/Shadow-copy-12.png) no-repeat top center;
    // border-top: 1px solid #eee;
    // background: $primary-color;
    text-align: center;
    // color: white;
    padding: 80px 0;
    i {
        color: #555;
        // color: $primary-color;
        font-size: 82px;
    }
}

.upcoming-events {
    background: $primary-color;
    color: #fff;
    text-align: center;
    padding: 20px 0 50px 0;
    h1, h3, h4 {
        color: #fff;
    }
    h1 {
        margin-bottom: 40px;
    }
    .date {
        background: #fff;
        color: $primary-color;
        // padding: 50px;
        border-radius: 130px;
        width: 130px;
        height: 130px;
        padding-top: 30px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 auto;
        .day {
            font-size: 26px;
        }
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
    .btn-success {
    	color:$primary-color;
    	text-decoration: none;
    	margin-top: 40px;
    }
}

.navbar {
    border-bottom: 3px solid $primary-color;
}

.navbar-header {
    width: 140px;
}

.navbar-nav {
    float: right;
    margin-top: 22px;
    li {
        text-transform: uppercase;
        font-size: 13px;
    }
}

footer {
	text-align: center;
	padding: 30px 0;
}

.subheader {
    img {
        width: 100%;
        height: auto;
    }
}

.content {
    padding-top: 20px;
    
}

.content-wrapper {
    background: #fff;
    padding: 30px;
    img {
        width: 100%;
        height: auto;
    }
    .page-header {
        margin-top: 0;
        h1 {
            margin-top: 0;
        }
    }
}

.shadow {
    border: 5px solid #fff;
    box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.7);
}

.widget {
    background: #fff;
    padding: 14px;
    margin-bottom: 20px;
}

.sidebar h3 {
    margin-top: 0;
}

//location

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}